@import "tailwindcss";

.container-background {
  background-image: url(/tp_table.jpg);
  background-color: rgba(235, 235, 235, 0.8);
  background-blend-mode: lighten;
}

.text-smoll {
  @apply text-xs md:text-base;
}

.text-normal {
  @apply text-xl md:text-2xl;
}

.text-large {
  @apply text-xl md:text-3xl;
}

.primary {
  @apply bg-yellow-500 text-zinc-800;
}

.hover-primary {
  @apply hover:bg-yellow-500 hover:text-zinc-800;
}

.primary-text {
  @apply text-yellow-500;
}

.secondary-root {
  @apply bg-zinc-100 text-zinc-800;
}

.secondary-no-mode {
  @apply bg-zinc-700 text-zinc-100;
}

.secondary {
  @apply bg-zinc-600 text-zinc-100;
}

.secondary-light {
  @apply bg-zinc-200 text-zinc-800;
}

.secondary-lighter {
  @apply bg-zinc-100 text-zinc-800;
}

.secondary-text {
  @apply text-zinc-800;
}

.secondary-text-light {
  @apply text-zinc-600;
}

.secondary-text-lighter {
  @apply text-zinc-300;
}

.secondary-border {
  @apply border-zinc-300;
}

@media (prefers-color-scheme: dark) {
  .container-background {
    background-image: url(/tp_table.jpg);
    background-color: rgba(0, 0, 0, 0.78);
    background-blend-mode: darken;
  }

  .secondary-root {
    @apply bg-zinc-800 text-zinc-100;
  }

  .secondary {
    @apply bg-zinc-900 text-zinc-100;
  }

  .secondary-light {
    @apply bg-zinc-800 text-zinc-100;
  }

  .secondary-lighter {
    @apply bg-zinc-700 text-zinc-100;
  }

  .secondary-text {
    @apply text-zinc-100;
  }

  .secondary-text-light {
    @apply text-zinc-300;
  }

  .secondary-text-lighter {
    @apply text-zinc-400;
  }

  .secondary-border {
    @apply border-zinc-600;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #faab00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f8c65b;
}
